body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    width: 400px;
    max-width: 400px;
    max-height: 600px;
    margin: 0;
    padding: 10px;
}

#pick-color {
    padding: 5px 10px;
    cursor: pointer;
}

#close {
    position: relative;
    right: 0;
}

#color-list {
    display: grid;
    list-style-type: none;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.color-entry {
    display: flex;
    justify-content: space-between;
}

.color-entry div {
    padding: 5px;
}

.palette-page {
    display: grid;
    gap: 5px;
}

.palettes-container {
    display: grid;
    gap: 5px;
}

.palette {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.palette div {
    flex: 1 1 0%;
    padding: 3px;
    text-align: center;
}
